@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}


header {
    height: 420px;
    position: relative;
    background: url('imagen.jpg') center center/cover no-repeat;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con 50% de opacidad */
}

.transparent-navbar {
    background-color: transparent !important; /* Elimina cualquier color de fondo */
    box-shadow: none; /* Opcional: quita sombras si las hubiera */
}
a {
    color: inherit; /* o puedes usar 'color: black;' para un color específico */
    text-decoration: none;
}



.profile-pic {
    width: 150px; /* Ajusta el tamaño según prefieras */
    height: 150px;
    border-radius: 50%; /* Hace la imagen circular */
    object-fit: cover; /* Ajusta la imagen para llenar el espacio */
}


header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con 50% de opacidad */
    z-index: 1;
}

header .container {
    position: relative;
    z-index: 2;
}



section h2 {
    margin-bottom: 20px;
    font-weight: bold;
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}
