@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #e9ecef;
    /*background-image:  url('../img/fondo.png');
    background-size: cover;
    background-position: center center;*/
}

.jumbotron {
    background-color: #15181E;
    color: white;
    margin: 5px auto 0;
    width: 600px;
}

.my-4{
    background-color: white;
}

.logo{
    margin-top: 50px;
    margin-left: 50px;
}

@media (max-width:800px) {
    .jumbotron {
        width: 300px;
        margin: 100px auto;
    }

    .logo{
        justify-content: center;
        align-items: center; 
    }
}

